.abs-imgMark {
    width: 108px;
    height: 6px;
    left: -1px;
    bottom: 3px;
    @include media-breakpoint-up(md) {
        width: 148px;
        height: 8px;
        left: -10px;
        bottom: 0;
    }
}

