<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-primary-100 pt-10"></div>

    <div class="container my-20">
      <ul class="row row-cols-1 g-9 row-cols-md-2 gx-md-6 gy-md-16">
        <li class="col">
          <div class="card">
            <img src="../assets/images/work-image1.svg" alt="" class="card-img border border-1 border-primary-200">
            <div class="card-body">
              <h2 class="card-title fs-5 fs-md-7 fw-bold">星際旅行訂票平台</h2>
              <p class="card-text text-primary-500 mb-md-6">悠遊宇宙的夢想，從這裡開始實現</p>
              <ul class="d-flex gap-2 mt-4">
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">網頁設計</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">響應式設計</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">Bootstrap</sapn>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card">
            <img src="../assets/images/work-image2.svg" alt="" class="card-img border border-1 border-primary-200">
            <div class="card-body">
              <h2 class="card-title fs-5 fw-bold fs-md-7">理財App</h2>
              <p class="card-text text-primary-500 mb-md-6">連動帳戶與行動支付，讓 AI 提供您最好的理財建議</p>
              <ul class="d-flex gap-2 mt-4">
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">APP設計</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">iOS</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">React</sapn>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card">
            <img src="../assets/images/work-image3.svg" alt="" class="card-img border border-1 border-primary-200">
            <div class="card-body">
              <h2 class="card-title fs-5 fw-bold fs-md-7">醫美診所官網</h2>
              <p class="card-text text-primary-500 mb-md-6">永保青春的秘密，從粹究開始</p>
              <ul class="d-flex gap-2 mt-4">
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">網頁設計</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">響應式設計</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">ＷordPress</sapn>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card">
            <img src="../assets/images/work-image4.svg" alt="" class="card-img border border-1 border-primary-200">
            <div class="card-body">
              <h2 class="card-title fs-5 fw-bold fs-md-7">美美美早餐店 POS 機 UI Design</h2>
              <p class="card-text text-primary-500 mb-md-6">訂單送單一目瞭然，自動報表分析好輕鬆</p>
              <ul class="d-flex gap-2 mt-4">
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">UI 設計</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">前端開發</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">Wix</sapn>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card">
            <img src="../assets/images/work-image5.svg" alt="" class="card-img border border-1 border-primary-200">
            <div class="card-body">
              <h2 class="card-title fs-5 fw-bold fs-md-7">電影院訂票系統</h2>
              <p class="card-text text-primary-500 mb-md-6">三步驟完成訂票，電腦手機都支援</p>
              <ul class="d-flex gap-2 mt-4">
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">前端開發</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">後端支援</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">Vue</sapn>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card">
            <img src="../assets/images/work-image6.svg" alt="" class="card-img border border-1 border-primary-200">
            <div class="card-body">
              <h2 class="card-title fs-5 fw-bold fs-md-7">巧克巧克形象官網設計</h2>
              <p class="card-text text-primary-500 mb-md-6">三步驟完成訂票，電腦手機都支援</p>
              <ul class="d-flex gap-2 mt-4">
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">UI設計</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">設計系統</sapn>
                </li>
                <li>
                  <sapn class="badge rounded-pill text-primary-700 text-bg-primary-200">網路電商</sapn>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div class="d-flex justify-content-center mt-12 mb-20">
        <div class="" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check w-20" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-primary-800" for="btnradio1">1</label>
        
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary-800" for="btnradio2">2</label>
        
          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-primary-800" for="btnradio3">3</label>
        </div>  
      </div>

    </div>
  

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
